@model ContactsProject.Models.AddressModel

<div>  
    <address>
        @Html.DisplayFor(model => model.Line1), @Html.DisplayFor(model => model.Line2)<br />
        @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) &nbsp; @Html.DisplayFor(model => model.Zipcode)
    </address>    
</div>

